{% extends "base.html" %}
{% block content %}
<h1 class="add-header t-center">Time to add a new item!</h1>
<h2 class="add-header t-center">Which one do you need?</h2>
<form method="post" id="new-item-form" name="new-item" action="/public/new-item">
  <div id="item-name" class="form-group t-center">
    <select name="template_name" class="form-select">
      <option value="Recipe">Recipe</option>
      <option value="Contact">Contact</option>
    </select>
  </div>
  <div class="form-group is-submit">
    <button type="submit" class="action-btn">Continue</button>
  </div>
</form>
{% endblock %}