<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!--<base href="https://orchard-dogleon.c9users.io/public/" />-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="Description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hexelberry Orchard</title>
    <link href="/public/static/css/style.css" rel="stylesheet" />
  </head>
  <body>
    {{{content}}}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  </body>
</html>