<main>
  <h1>Style Guide</h1>
  <article>
    <header>
      <h2 id="colors">Colors</h2>
    </header>
    <section>
      <ul id="color-cards">
        <li aria-label="The black color display, followed by the CSS classes that enable the use of the black color">
          <span style="background-color: var(--black-color)"></span>
          <span>var(--black-color)</span>
        </li>
        <li aria-label="The dark color display, followed by the CSS classes that enable the use of the dark color">
          <span style="background-color: var(--dark-color)"></span>
          <span>var(--dark-color)</span>
        </li>
        <li aria-label="The medium color display, followed by the CSS classes that enable the use of the medium color">
          <span style="background-color: var(--med-color)"></span>
          <span>var(--med-color)</span>
        </li>
        <li aria-label="The gray color display, followed by the CSS classes that enable the use of the gray color">
          <span style="background-color: var(--gray-color)"></span>
          <span>var(--gray-color)</span>
        </li>
        <li aria-label="The light color display, followed by the CSS classes that enable the use of the light color">
          <span style="background-color: var(--light-color)"></span>
          <span>var(--light-color)</span>
        </li>
        <li aria-label="The very light color display, followed by the CSS classes that enable the use of the very light color">
          <span style="background-color: var(--v-light-color)"></span>
          <span>var(--v-light-color)</span>
        </li>
      </ul>
    </section>
  </article>
  <article>
    <header>
      <h2 id="typography">Typography</h2>
    </header>
    <section>
      <p>Using default system fonts.</p>
    </section>
  </article>
  <article>
    <header>
      <h2 id="buttons">Buttons</h2>
    </header>
    <section id="button_doc">
      <div>
        <%- include("components/button", { text: "Button" }) %>
      </div>
      <code id="button" class="component-js"></code>
    </section>
    <section id="submit_button_doc">
      <div>
        <%- include("components/submit-button", { text: "Submit" }) %>
      </div>
      <code id="submit_button" class="component-js"></code>
    </section>
  </article>
  <article>
    <header>
      <h2 id="forms">Forms</h2>
    </header>
    <section id="text_field_doc">
      <div>
        <%- include("components/text-field", { id: "example_text_field", label: "Text Field", placeholder: "Placeholder" }) %>
      </div>
      <p>
        The type argument allows you to use the text field template for emails, passwords, telephone numbers, etc.
      </p>
      <code id="text_field" class="component-js"></code>
    </section>
    <section id="textarea_doc">
      <div>
        <%- include("components/textarea-field", { id: "example_textarea_field", label: "Text Area", placeholder: "Placeholder" }) %>
      </div>
      <code id="textarea_field" class="component-js"></code>
    </section>
    <section id="checkbox_doc">
      <div>
        <%- include("components/checkbox-field", { id: "example_checkbox", label: "Checkbox", value: "Checkbox" }) %>
      </div>
      <code id="checkbox_field" class="component-js"></code>
    </section>
    <section id="radio_button_doc">
      <div>
        <%- include("components/radio-button-field", {id: "example_radio_button", label: "Radio Buttons", options: [{ "label": 'Option 1', "value": "option_1" }, { "label": "Option 2", "value": "option_2" }]}) %>
      </div>
      <code id="radio_button_field" class="component-js"></code>
    </section>
  </article>
  <article>
    <header>
      <h2 id="dropdown_field">Dropdowns</h2>
    </header>
    <section id="dropdown_field_doc">
      <div>
        <%- include("components/dropdown-field", { id: "example_dropdown", label: "Dropdown", options: [{ value: "", label: "Select a value" }, { value: "one", label: "A value" }, { value: "two", label: "Another value" }]}) %>
      </div>
      <code id="dropdown_field" class="component-js"></code>
    </section>
  </article>
  <article>
    <header>
      <h2 id="lists">Lists</h2>
    </header>
    <section id="object_list_doc">
      <div>
        <%- include("components/object-list", { objects: [{ link: "#", label: "One thing" }, { link: "#", label: "Another thing" }, { link: "#", label: "The best thing" }]}) %>
      </div>
      <code id="object_list" class="component-js"></code>
    </section>
  </article>
  <!-- TODO: Checklist -->
  <!-- TODO: Dropdowns -->
  <!-- TODO: Header -->
  <!-- TODO: Footer -->
  <!-- TODO: Date -->
  <!-- TODO: Time -->
  <!-- TODO: Note -->
  <!-- TODO: Time spent -->
  <!-- TODO: Links -->
  <!-- TODO: Images -->
  <!-- TODO: Date repeat -->
  <!-- TODO: Cards -->
  <article>
    <header>
      <h2 id=""></h2>
    </header>
    <section id="">
      <div>
        
      </div>
      <code id="" class="component-js"></code>
    </section>
  </article>
</main>
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function (e) {
    var component,
        i;
    var componentSource = document.querySelectorAll('.component-js');
    var components = {
        button: `<%- include("components/button", { text: "{{ text }}" }) %>`,
        submit_button: `<%- include("components/submit-button", { text: "{{ text }}" }) %>`,
        text_field: `<%- include("components/text-field", { id: "{{ id }}", label: "{{ label }}", type: "{{ type }}", placeholder: "{{ placeholder }}", value: "{{ value }}" }) %>`,
        textarea_field: `<%- include("components/textarea-field", { id: "{{ id }}", label: "{{ label }}", placeholder: "{{ placeholder }}", value: "{{ value }}" }) %>`,
        checkbox_field: `<%- include("components/checkbox-field", { id: "{{ id }}", label: "{{ label }}", value: "{{ value }}" }) %>`,
        radio_button_field: `<%- include("components/radio-button-field", { id: "example_radio_button", label: "Radio Buttons", options: [{ "label": 'Option 1', "value": "option_1" }, { "label": "Option 2", "value": "option_2" }]}) %>`,
        object_list: `<%- include("components/object-list", { objects: [{ link: "#", label: "{{ label }}" }] }) %>`,
        dropdown_field: `<%- include("components/dropdown-field", { id: "{{ id }}", label: "{{ label }}", options: [{ value: "", label: "{{ label }}" }]}) %>`
      };
    
    for (i = 0; i < componentSource.length; i++) {
      componentSource[i].innerText = components[componentSource[i].getAttribute('id')];
    }
  });
</script>
<style>
  main {
    width: 80%;
    margin: 0 auto;
    font-size: 1rem;
  }
  
  code {
    display: block;
    margin: 1rem;
    padding: 0.5rem;
    background-color: var(--light-color);
    border: 0.1rem solid var(--gray-color);
    border-radius: 0.25rem;
  }

  section > div {
    margin: 1rem;
  }
  
  #color-cards {
    list-style: none;
  }
  
  #color-cards > li {
    display: inline-block;
    text-align: center;
    width: 25%;
    margin-bottom: 1rem;
    vertical-align: top;
    min-height: 10rem;
    border-radius: 0.25rem;
    border: 0.1rem solid var(--dark-color);
  }
  
  #color-cards > li > * {
    display: block;
    line-height: 1.5;
    padding-top: 0.1rem;
  }
  
  #color-cards > li > span:first-child {
    padding: 4rem;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
</style>