{% extends "base.html" %}
{% block content %}
<h1 class="add-header">Time to make a new...</h1>
<ul class="bundle-list has-top is-indented">
  <li class="bundle">
    <a href="/public/choose-item">
      <span>Item</span>
      <span class="bundle__arrow">&#8674;</span>
    </a>
  </li>
  <li class="bundle">
    <a href="/public/new-template">
      <span>Template</span>
      <span class="bundle__arrow">&#8674;</span>
    </a>
  </li>
  <li class="bundle">
    <a href="#">
      <span>Bundle</span>
      <span class="bundle__arrow">&#8674;</span>
    </a>
  </li>
</ul>
{% endblock %}