<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="Description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hexelberry Orchard</title>
    <link href="{{ baseUrl() }}/static/css/style.css" rel="stylesheet" />
  </head>
  <body>
    <main class="home__main" role="main">
      <header class="header">
        <span class="header__title">Orchard</span>
      </header>
      {% block content %}{% endblock %}
      <footer class="footer">
        <ul class="footer-list">
          <li class="footer-list__action">To Do</li>
          <li class="footer-list__action">Search</li>
          <li class="footer-list__action"><a href="{{ baseUrl() }}/add">New</a></li>
        </ul>
      </footer>
    </main>
  </body>
</html>