{% extends "base.html" %}
{% block content %}
<ul class="bundle-list">
  <li class="bundle">
    <a href="#">Home</a>
    <span class="bundle__arrow">&#8674;</span>
  </li>
  <li class="bundle">
    <a href="#">Work</a>
    <span class="bundle__arrow">&#8674;</span>
  </li>
  <li class="bundle">
    <a href="#">Friends</a>
    <span class="bundle__arrow">&#8674;</span>
  </li>
  <li class="bundle">
    <a href="/public/bundle/food">Food</a>
    <span class="bundle__arrow">&#8674;</span>
  </li>
</ul>
{% endblock %}