{% extends "base.html" %}
{% block content %}
<ul class="bundle-list">
  <li class="bundle">
    <a href="#">
      <span>Home</span>
      <span class="bundle__arrow">&#8674;</span>
    </a>
  </li>
  <li class="bundle">
    <a href="#">
      <span>Work</span>
      <span class="bundle__arrow">&#8674;</span>
    </a>
  </li>
  <li class="bundle">
    <a href="#">
      <span>Friends</span>
      <span class="bundle__arrow">&#8674;</span>
    </a>
  </li>
  <li class="bundle">
    <a href="/public/bundle/food">
      <span>Food</span>
      <span class="bundle__arrow">&#8674;</span>
    </a>
  </li>
</ul>
{% endblock %}